@model BI.GST.Application.ViewModels.TelefoneViewModel

@using (Html.BeginCollectionItem("TelefoneViewModel"))
{
	@Html.HiddenFor(model => model.TelefoneId)
	@Html.HiddenFor(model => model.EmpresaId)

	<div class="form-group">
		@Html.LabelFor(model => model.Numero, htmlAttributes: new { @class = "control-label col-md-2" })

		<div class="col-md-3">
			@Html.EditorFor(model => model.Numero, new { htmlAttributes = new { @class = "form-control" } })
			@*@Html.ValidationMessageFor(model => model.Numero, "", new { @class = "text-danger" })*@
		</div>
	</div>
}
