@model BI.GST.Application.ViewModels.ClassificacaoEfeitoViewModel

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>ClassificacaoEfeito</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Classificacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Classificacao)
        </dd>

      </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ClassificacaoEfeitoId }) |
    @Html.ActionLink("Voltar para lista", "Index")
</p>
