@model BI.GST.Application.ViewModels.MeioPropagacaoViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MeioPropagacao</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Meio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Meio)
        </dd>

     </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MeioPropagacaoId }) |
    @Html.ActionLink("Voltar para lista", "Index")
</p>
